<div class="teacher-container">
  <h2><%= current_teacher.prefix %> <%= current_teacher.name %>'s Assignment Dashboard</h2>

  <div class="dashboard">
    <h3><%= @type.name %></h3>

    <% @assignments.each do |assignment| %>
      <% if assignment.questions %>
        <a href="/assignment/<%= assignment.id %>"><div class="red_block" id="block-<%= assignment.id %>">
          <% assignment.students.each do |pair| %>
            <li><%= image_tag('pear-white.png') %><%= pair.name %></li>
          <% end %>
        </div></a>
      <% else %>
        <a href="/assignment/<%= assignment.id %>"><div class="blue_block" id="block-<%= assignment.id %>">
          <% assignment.students.each do |pair| %>
            <li><%= image_tag('pear-white.png') %><%= pair.name %></li>
          <% end %>
        </div></a>
      <% end %>
    <% end %>
  </div>
</div>
