<div class="one_to_one_work">
	<h1>Welcome <%= @student1.name %> and <%= @student2.name %></h1>
	<h2>You'll be working on the <span style="color:blue"><%= @instructions.name %></span> assignment</h2>
	<div class="work">
		<% if @instructions.assignment_url %>
			<div>
				<iframe src="//player.vimeo.com/video/40000072" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/40000072">Caine's Arcade</a> from <a href="http://vimeo.com/nirvan">Nirvan Mullick</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
			</div>
		<% end %>
	</div>

	<div class="student_work">
		<%= form_for @assignment do |f|%>
          <li><%= f.text_area :submission, :size => "30x10" %></li>
          <button class="btn btn-primary btn-block" id="save">SAVE WORK</button>
    <% end %>
	</div>

	<div class="chat"></div>

</div>